@model YUJCSR.Web.Project.Models.ProjectModel


@{
	Layout = "_CRM-Layout";
}

<div class="container-fluid">
	<section>
		@if (string.IsNullOrEmpty(Model.ProjectID))
		{
			<h1>Create Project</h1>
		}
		else
		{
			<h1>Edit Project</h1>
		}


		<div class="card mb-4">
			<div>
				<div class="card-body">
					@using (Html.BeginForm("SaveProject", "Project", FormMethod.Post))
					{
						@Html.HiddenFor(m => m.ProjectID)
						@Html.HiddenFor(m => m.createdDate)
						@Html.HiddenFor(m => m.createdBy)
						@Html.HiddenFor(m => m.modifiedBy)
						@Html.HiddenFor(m => m.modifiedDate)
						@Html.HiddenFor(m => m.activeStatus)
						@Html.HiddenFor(m => m.CSOID)
						@Html.HiddenFor(m => m.refID)

						<div class="mb-3">
							<label class="small mb-1" for="title">Title</label>
							@Html.TextBoxFor(m => m.Title, new { @class = "form-control" })

						</div>
						<div class="row gx-3 mb-3">
							<div class="col-md-6">
								<label class="small mb-1" for="projectDescription">Description</label>
								@Html.TextBoxFor(m => m.projectDescription, new { @class = "form-control" })
							</div>
							<div class="col-md-6">
								<label class="small mb-1" for="areOfInterest">Area Of Interest</label>
								@Html.TextBoxFor(m => m.areOfInterest, new { @class = "form-control" })
							</div>
						</div>
						<div class="row gx-3 mb-3">
							<div class="col-md-6">
								<label class="small mb-1" for="inputOrgName">Total Budget</label>
								@Html.TextBoxFor(m => m.TotalBudget, new { @class = "form-control" })
							</div>
							<div class="col-md-6">
								<label class="small mb-1" for="inputLocation">Location</label>
								@Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
							</div>
						</div>
						<div class="row gx-3 mb-3">
							<div class="col-md-6">
								<label class="small mb-1" for="inputOrgName">Duration in Months</label>
								@Html.TextBoxFor(m => m.DurationInMonths, new { @class = "form-control" })
							</div>
							<div class="col-md-6">
								<label class="small mb-1" for="inputLocation">Development Code</label>
								@Html.TextBoxFor(m => m.developmentGoal, new { @class = "form-control" })
							</div>
						</div>
						<div class="row gx-3 mb-3">
							<div class="col-md-6">
								<label class="small mb-1" for="inputPhone">Expected Outcome</label>
								@Html.TextBoxFor(m => m.expectedOutcome, new { @class = "form-control" })
							</div>
							<div class="col-md-6">
								<label class="small mb-1" for="inputBirthday">Amenities</label>
								@Html.TextBoxFor(m => m.amenities, new { @class = "form-control" })
							</div>
						</div>

						<div class="row gx-3 mb-3">
							<div class="col-md-6">
								<label class="small mb-1" for="inputBirthday">Experts</label>
								@Html.TextBoxFor(m => m.experts, new { @class = "form-control" })
							</div>
						</div>
						<div class="text-right">
							<button class="btn btn-primary btn-sm" type="submit">Save changes</button>
						</div>
					}
				</div>
			</div>
		</div>
	</section>
</div>
